/* --------- RESET ------------  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------- VARIAVEIS ------------  */
:root{
    --body-bg-color: #6c0e0e;
    --bg-color: #ffefcb;
    --font-color: #bd931f;
    --purple: #892aee;
    --geo-color: #fbba37;
}

/* --------- MAIN TAGS ------------  */
body{
    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
}

header{
    height: 4rem;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;

    font-size: 3rem;
    color: #fffcf6;
    text-shadow: 1px 1px 2px #a37c0e;
}

main{
    padding: 2rem;
}

/* --------- CLASSES ------------  */
.yunjin{
    background-image: url(/img/yunjin.webp);
    background-blend-mode: overlay;
    background-position: -15% center;
    background-size: 150%;
    background-repeat: no-repeat;
}


/* --------- PARTE DE CIMA ------------  */
.content-style{
    width: 23rem;
    background-color: var(--bg-color);
    padding: 0.5rem;
}


.content-style .border-style{
    border: 2px solid var(--font-color);
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
}

.content-style .header-style{
    height: 9rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.content-style .char-img{
    width: 7rem;
    border: 3px solid var(--geo-color);
    border-radius: .5rem;
}

.content-style .char-img img{
    width: 100%;
    height: 100%;
}

.content-style .char-title{
    height: 100%;
}

.char-title .title-desc{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 200;
    color: var(--font-color);
}

.char-title .char-type-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.char-title .char-type-title img{
    height: 3rem;
    width: 3rem;
}

.char-title .char-type-title span{
    font-size: 2rem;
    font-weight: 700;
    color: var(--geo-color);
}

.char-title .char-stars{
    padding: 0 .6rem;
    height: 1rem;
    position: relative;
    top: -0.4rem;
}

.char-title .char-utility{
    padding: 0 .6rem;
    height: 1rem;
    color: var(--font-color);
    font-style: italic;
}

/* --------- CONTEINERES ------------  */
.container-main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-main .cont-title{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    color: var(--font-color);
}

.container-main .cont-obs{
    color: var(--font-color);
    font-size: .8rem;
}

.border-style .desc{
    padding: 1rem;
    color: var(--font-color);
    font-size: .8rem;
    font-style: italic;
}

.border-style .divider{
    width: 100%;
    border: 1px solid var(--font-color);
}

.bg-4{
    background-image: url(/img/bg-4-star.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* --------- ATRIBUTOS ------------  */
.attr{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}

.attr-p{
    color: var(--font-color);
    font-weight: bold;
}

.attr-p .desc{
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    font-size: .9rem;
}

.desc .item-title{
    font-weight: bold;
}

.desc .item{
    font-style: italic;
    font-weight: 400;
}
/* --------- TALENTOS ------------  */
.talent-list{
    display: flex;
    gap: 2.4rem;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
}

.talent-list .talent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talent-list .talent img{
    height: 4rem;
    width: 4rem;
}

.talent-list .talent span{
    font-size: .8rem;
    color: var(--font-color);
    font-weight: 700;
}

/* --------- ARMAS ------------  */
.weapon-list{
    display: flex;
    gap: 2.4rem;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
}

.weapon-list .weapon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weapon-list .weapon img{
    height: 5rem;
    width: 5rem;
    border: 1px solid var(--purple);
}

.weapon-list .weapon span{
    font-size: .8rem;
    color: var(--font-color);
}

.weapon .weapon-img{
    height: 5rem;
    width: 5rem;
}

/* --------- ARTEFATOS ------------  */
.artef-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    text-align: center;
}

.artef-list .artef{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artef-list .artef img{
    height: 5rem;
    width: 5rem;
    border: 1px solid var(--purple);
}

.artef-list span{
    color: var(--font-color);
}

.artef-list.flex span{
    color: var(--font-color);
    margin-top: 2rem;
}

.artef-list.flex .artef span{
    color: var(--font-color);
    margin-top: 0rem;
}

.flex{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.artef-list .artef span{
    font-size: .8rem;
    color: var(--font-color);
    max-width: 5rem;
}

.artef .artef-img{
    height: 5rem;
    width: 5rem;
}